* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
  height: 100%;
  height: 100%;
}


h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: flex;


}
.one ul {
  padding: 1em 0;
  background: #ECDAD6;
}
.one a {
  padding: 1em;
  background: rgba(177, 152, 145, .3);
  border-right: 1px solid #b19891;
  color: #695753;
}
.one a:hover {background: #b19891;}
.one li {
  display: inline;
}

.products{
    flex-direction: column;
    display: block;
    position: center;
    margin: 10%;
    margin-top: 0%;
    background: #aeaeae;

}
.product-item {
   float: left;

   width: 250px;
   text-align: center;
   padding: 13px;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   font-family: "Open Sans";
   transition: .3s ease-in;

}
.product-item:hover {
   border-bottom: 2px solid #fc5a5a;

}
.product-item img {
   display: block;
   width: 100%;
   height: 210px;
   outline: 1px solid #fa8484;

}
.product-list {
   background: #fafafa;
   padding: 13px 0;
   outline: 1px solid #fa8484;
   font-family: Bradley Hand, cursive;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.name_company {
   font-size: 20px;
   color: #000;
   display: block;
   margin-bottom: 16px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #fa0c0c;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #f5d5d5;
}
div.category-links, div.product { float: left; }

.category-links p{
    display: flex;
    color: #fff;
    outline: 1px solid #fa8484;
    font-size: 150%;

}